/* w06-styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#joke-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.joke {
  flex: 0 0 48%;
  margin-bottom: 10px;
  text-align: left;
}

/* Add additional styling for revealed button if needed */
.revealed {
  background-color: #eee;
}

/* Media Query for Low-Resolution Displays (e.g., mobile devices) */
@media only screen and (max-width: 375px) {
  .joke {
      flex: 0 0 100%; /* Full width for small screens */
  }
}
